<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Salle
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z1">

        <!-- Column definitions -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroSalle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> numeroSalle </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroSalle}} </td>
        </ng-container>

        <ng-container matColumnDef="etatSalle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> etatSalle </th>
          <td mat-cell *matCellDef="let element"> {{element.etatSalle}} </td>
        </ng-container>

        <ng-container matColumnDef="typeSalle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> typeSalle </th>
          <td mat-cell *matCellDef="let element"> {{element.typeSalle}} </td>
        </ng-container>


        <!-- Header row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>

        <!-- Data rows -->
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10,20 ,30,100]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
