/* Ajoute du padding à la container pour l'espace autour de la carte */
.container {
  padding: 20px;
}

/* Style de base pour la carte */
mat-card {
  width: 100%;
}

/* Espacement entre les éléments dans la carte */
.mat-card-content {
  padding: 20px;
}

/* Style pour la table */
.mat-elevation-z1 {
  width: 100%; /* Assure que la table occupe toute la largeur disponible */
  border-collapse: collapse; /* Fusionne les bordures des cellules */
}

/* Style pour les cellules d'en-tête */
th.mat-header-cell,
td.mat-cell {
  padding: 10px; /* Ajoute de l'espacement à l'intérieur des cellules */
  text-align: left; /* Alignement du texte à gauche */
  border-bottom: 1px solid #ddd; /* Bordure inférieure pour séparer les lignes */
}

/* Style pour la ligne d'en-tête */
tr.mat-header-row {
  background-color: #f0f0f0; /* Couleur de fond pour la ligne d'en-tête */
}

/* Style pour les lignes de données */
tr.mat-row:nth-child(even) {
  background-color: #f9f9f9; /* Couleur de fond pour les lignes de données paires */
}

tr.mat-row:hover {
  background-color: #e0e0e0; /* Couleur de fond au survol des lignes */
}
