<div class="background-image"></div> <!-- Div pour l'image de fond -->

<div class="container">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>
        Bienvenue dans l'application de gestion dentaire
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <p>
        Cette application vous permet de gérer efficacement une clinique dentaire en automatisant plusieurs processus clés :
      </p>
      <ul>
        <li>Consultation des patients et gestion de leurs antécédents médicaux.</li>
        <li>Planification et gestion des rendez-vous avec les dentistes.</li>
        <li>Gestion des informations détaillées sur les dentistes et les salles de traitement.</li>
        <li>Passation des paiements pour les rendez-vous des patients.</li>
        <li>Affectation et gestion des antécédents médicaux des patients.</li>
        <li>Gestion des fichiers et documents associés aux paiements et aux dossiers médicaux.</li>
      </ul>
      <p>
        Explorez les différentes fonctionnalités à travers les onglets de navigation et utilisez les boutons d'action pour ajouter de nouvelles informations ou détailler les éléments existants.
      </p>
    </mat-card-content>
  </mat-card>
</div>
